OPENROUTER_API_KEY=<your-openrouter-api-key>
FIRECRAWL_API_KEY=<your-firecrawl-api-key>
PINECONE_API_KEY=<your-pinecone-api-key>

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-langsmith-api-key>
LANGSMITH_PROJECT="TestAgent"
